
@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-alpine.css';
@import '~ag-grid-community/dist/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin';

.ag-theme-alpine {
  // https://www.ag-grid.com/javascript-grid-themes-customising/#base-theme-parameters
  @include ag-theme-alpine((
    // Colour of text in
    data-color: $gray-500,
    // Colour of text and icons in
    header-foreground-color: $primary,
    // Background colour o
    background-color: #fff,
    // Background colour for all headers, including the grid header,
    header-background-color: #fff,
    // Background colour applied to every other row or null to use background-color fo
    odd-row-background-color: $gray-100,
    // Background color when hovering over rows in the grid and in dropdown menus, or null for no rollover effect (note - if you want a rollover on one but not the other, set to null and use CSS to achieve the
    row-hover-color: ag-derived(header-foreground-color, $opacity: 0.13)
  ));

  .ag-root-wrapper {
    min-height: 20rem;
    overflow: visible;
  }

  .ag-header-cell {
    .ag-header-cell-text {
      font-size: 0.625rem;
      font-weight: 700;
      display: flex;
      flex-direction: column;
      justify-content: center;
      white-space: normal;
    }
  }

  .ag-cell.ag-cell-value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.6875rem;
    white-space: normal;
    line-height: 0.9rem;
  }

  // TODO: Determine styling to headers, if desired
  // .ag-header-cell-filtered {
    // background-color: $cmx-green;
    // color: white;
    // background-color: $gray-200;
  // }

  .dropdown-item.active {
    background-color: $primary;
  }
}
