$primary: #007ea5;
$secondary: #789a3e;
$success: #48a532;
$info: #0477bf;
$warning: #e97f24;
$danger: #FF0000;
$light: #ffffff;
$dark: #000000;
$cmx-green: #789a3e;
$transparent: #66000000;
$gray: #8f8f8f;
$cmx-slate-20: #d9dde0;
$cmx-grey-5: #f5f5f5;
$cmx-blue-60: #66b2c9;
$cmx-grey-20: #dadada;
$login-page-color:#ffffff; 
$login-text-custom:#7f7f82;
$five9-chat-icon1: #3396C6;
$five9-chat-icon2: #2281B8;
$five9-ui-header: #292F33;
$five9-action-btn-background: #1E6A91;
$five9-action-btn-border: #288DC1;
$horizontal-line-color: #66b2c9;
$primary-10: rgba(0, 126, 165, 0.1);
