.modal-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);

}

.modal-buttons>* {
    margin: 0.25rem;
}

.beer-modal {
    .img-wrap {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        padding: 1rem;
        border: 1px solid rgba(0, 0, 0, .125);
    }
}